@charset "UTF8";
* {
    box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth;
 }
 
 body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    letter-spacing : 0.2em;
 }
 
 header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    z-index: 1500;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 20px;
 }

 h1 img{
    width: 200px;
 }

 a {	
    text-decoration: none;
    color: #ffffff;
 }

 .list1 a:hover{
   box-shadow: 2px 4px 7px 0 rgb(255, 255, 255);
   transform: translateY(-5px);
   cursor: pointer;
 }

 .pc-nav {
    margin: 0 0 0 auto;
 }
 .ul1 {
    list-style: none;
    margin: 0;
    display: flex;
 }
 .list1 {
    margin: 0 0 0 40px;
    font-size: 12px;
 }

 #listmukou a{
   pointer-events: none;
 }

 h2 {
   margin: auto;
   font-size: 30px;
   font-weight: normal;
   color: #ffffff;
   padding-top: 300px;
   text-align: center;
   border-bottom: #ffffff 1px solid;
   max-width: 60%;
   font-family: serif;
 }

 h3{
    color:#ffffff;
    font-family: sans-serif;
 }
 
  p{
    font-family: sans-serif;
  }


  .newsbox1{
    max-width: 900px;
    text-align: left;
    margin:100px auto;
    background-color: #ffffff;
    opacity: 0.8;
    padding: 40px;
    border-radius: 15px;
  }

  .hiduke{
   color: #000000;
  }

  .komidashi p{
   color: #000000;
  }

  .nakami p{
   color: #000000;
  }

  .gazoudakebox{
    display: flex;
    max-width: 890px;
    padding-top: 40px;
    overflow: visible;
    height: 100%;
  }

  .gazoudake1{
    margin: auto;
  }

  .gazoudake2{
    margin: auto;
  }

  .gazoudake1 img{
    max-width: 300px;
    box-shadow: 2px 4px 7px 0 rgb(0, 0, 0) ;
    display: block;
    transition-duration: 0.5s;
  }

  .gazoudake2 img{
    max-width: 300px;
    box-shadow: 2px 4px 7px 0 rgb(0, 0, 0) ;
    display: block;
    transition-duration: 0.5s;
  }

  .gazoudakebox img:hover{
   transform: scale(1.2,1.2);
   transition-duration: 0.5s;
 }

 .sikaku {
	display: inline-block;
	padding: 10px;
	margin-top: 100px;
   margin-left: 650px;
	background: #ffffff;
	border: 0.1875em solid #000000;
	color: #000000;
	cursor: pointer;
	transition: all 0.3s ease 0s;
 }
 .sikaku:hover {
	background: #000000;
	color: #ffffff;
 }
  
 .sikaku p{
   text-align: center;
   font-size: 10px;
   font-weight: bold;
   font-family: serif;
  }

   .gazoutyuuou{
      text-align: center;
      padding-top: 20px;
      overflow: visible;
      height: 100%;
   }

   .gazoutyuuou2{
      max-width: 400px;
      max-height: 400px;
      margin: auto;
      box-shadow: 2px 4px 7px 0 rgb(0, 0, 0) ;
      display: block;
      transition-duration: 0.5s;
   }

   .gazoutyuuou img:hover{
      transform: scale(1.2,1.2);
      transition-duration: 0.5s;
    }

   .komidashi{
      font-weight: bold;
      font-size: 14px;
   }

   .kasou-nav{
      margin: auto;
      max-width: 500px; 
   }

   .ul2{
      display: flex;
      margin: auto;
      padding-right: 20px;
      justify-content: space-evenly;
   }

   .list2 a:hover{
      box-shadow: 2px 4px 7px 0 rgb(255, 255, 255);
    }
   
   .uenimodoru{
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  
    .uenimodoru img{
      max-height: 100px;
    }

    .snsgazou{
      margin-top: 100px;
      margin-right: 330px;
      margin-left: auto;
      max-width: 900px;
      text-align: center;
    }

    .footergazou{
      display: flex;
      justify-content: center;
      max-width: 900px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    .footergazou img{
      width: 100px;
    }

    .shiromozi{
      color: #ffffff;
      text-align: center;
      margin-top: -10px;
      font-size: 10px;
    }
   




  
